[submodule "libs/SerialFlash"]
	path = libs/SerialFlash
	url = https://github.com/Aerify-Digital/SerialFlash.git
[submodule "app/electron"]
	path = app/electron
	url = https://github.com/Aerify-Digital/aerpid_suite.git
