[submodule "libs/SerialFlash"]
	path = libs/SerialFlash
	url = https://github.com/Aerify-Digital/SerialFlash.git
[submodule "libs/AsyncTCP"]
	path = libs/AsyncTCP
	url = https://github.com/Aerify-Digital/AsyncTCP.git
